<!doctype html>
<!-- html tag with Thymeleaf -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Bootstrap CSS -->
	<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}" />
	<title>Edit</title>
</head>

<body>
	<div class="container">
		<div>
			<h1 class="text-center">Aggiorna la pizza in catalogo</h1>

			<form id="pizza-form" th:object="${pizza}" th:action="@{/pizzeria/edit/{id}(id=${pizza.id})}"
				th:method="post">

				<div th:if="${#fields.hasAnyErrors()}">
					<ul>
						<li th:each="err : ${#fields.allErrors()}" th:text="${err}">
						</li>}
					</ul>
				</div>


				<div class="mb-3 col-3">
					<label for="nome" class="form-label">Nome*</label>
					<input type="text" id="nome" th:field="*{nome}" class="form-control">
				</div>
				<div class="mb-3 col-3">
					<label for="descrizione" class="form-label">Descrizione pizza*:</label>
					<textarea id="descrizione" name="descrizione" rows="4" cols="50"
						th:field="*{descrizione}"></textarea>
				</div>
				<div class="mb-3 col-3">
					<label for="immagine" class="form-label">Url immagine</label>
					<input type="text" id="immagine" th:field="*{url}" class="form-control">
				</div>
				<div class="mb-3 col-3">
					<label for="prezzo" class="form-label">Prezzo*</label>
					<input type="number" id="prezzo" th:field="*{prezzo}" class="form-control"
						th:errorClass="is-invalid">
				</div>
				<div class="mb-3">
					<h6>Seleziona gli ingredienti della pizza</h6>

					<th:block th:each="ingrediente : ${ingredienti}">
						<input type="checkbox" name="ingrediente" th:value="${ingrediente.id}"
							th:field="*{ingredienti}" />
						<label th:text="${ingrediente.nome}"></label>
					</th:block>
				</div>

				<button class="btn btn-primary">Save</button>

				<!-- fine form -->
			</form>
		</div>
	</div>

	<!-- Bootstrap Bundle with Popper -->
	<script th:src="@{/webjars/bootstrap/5.1.3/js/bootstrap.bundle.min.js}"></script>
</body>

</html>