<!doctype html>
<!-- html tag with Thymeleaf -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Bootstrap CSS -->
	<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}" />
	<title>La mia pizzeria CRUD</title>
</head>

<body>
	<h1>La mia pizzeria!</h1>
	
	<!-- prova inserimento frammento con collegamento del file-->
	<a th:replace="fragments :: button('/', 'Back')"></a>

	<table 	class="table table-striped">
        <thead>
			<tr>
				<th>NOME</th>
				<th>DESCRIZIONE</th>
				<th>IMMAGINE</th>
				<th>PREZZO</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each ="p : ${list}">
				<th th:text="${p.nome}"></th>
				<th th:text="${p.descrizione}"></th>
				<th><img height="150" width="150" alt="immagine_pizza" th:src="${p.url}" /></th>
				<th th:text="|${p.prezzo} euro|"></th>
			</tr>
		</tbody>
	</table>

	<!-- Bootstrap Bundle with Popper -->
	<script th:src="@{/webjars/bootstrap/5.1.3/js/bootstrap.bundle.min.js}"></script>
</body>

</html>